@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
 
     
     
 .container1{
     display: flex;
     justify-self: center;
     justify-content: center;
     flex-wrap: wrap;
     margin-top: 100px;
 }

 .task{
     flex-direction: column;
 }